<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="./style/style.css">
    <%- include('./style/base.ejs') %>
</head>
<body>
    <%- include('header.ejs')%>

        <main>
            <div action="/cadastrar-pacientes" id="cadastro">
                <div class="form-side">
                    <label>Nome:</label>
                    <input type="text" name="nome" id="nome" placeholder="Nome">
                    <label>Idade:</label>
                    <input type="text" name="idade" id="idade" placeholder="Idade">
                    <label>Área:</label>
                    <input type="text" name="area" id="area" placeholder="Área de consulta">
                    <label>CPF:</label>
                    <input type="text" name="cpf" id="cpf" placeholder="CPF">
                    <label>Data da Consulta:</label>
                    <input type="date" name="data" id="data">
                </div>
                <div class="form-side">
                    <label>Convênio:</label>
                    <input type="text" name="conv" id="conv" placeholder="Convênio">
                    <label>Endereço:</label>
                    <input type="text" name="endereco" id="endereco" placeholder="Endereço">
                    <label>Número:</label>
                    <input type="text" name="numero" id="numero" placeholder="Número">
                    <label>Bairro:</label>
                    <input type="text" name="bairro" id="bairro" placeholder="Bairro">
                    <label>PCD:</label>
                    <select name="pcd" id="pcd">
                        <option value="sim">sim</option>
                        <option value="nao">não</option>
                    </select>
                </div>
                <input type="button" id="sub-btn" value="enviar">
            </div>
        </main>

    <%- include('footer.ejs')%>
</body>
<script src="../libs/jquery-3.6.1.min.js"></script>
<script src=" https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script>
    let sub_btn = document.getElementById("sub-btn")

    sub_btn.addEventListener("click", function(){
        $.ajax({
        method:"GET",
        url:"/cadastrar-pacientes",
        data:{
            nome: document.getElementById("nome").value,
            idade: document.getElementById("idade").value,
            area: document.getElementById("area").value,
            cpf: document.getElementById("cpf").value,
            data: document.getElementById("data").value,
            convenio: document.getElementById("conv").value,
            endereco: document.getElementById("endereco").value,
            numero: document.getElementById("numero").value,
            bairro: document.getElementById("bairro").value,
            pcd: document.getElementById("pcd").value,
        }
        }).done((res)=>{
            alert(res)
        })
    })
</script>
</html>