<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="./style/style.css">
    <%- include('./style/base.ejs') %>
</head>
<body>
    <%- include('header.ejs')%>

        <main>
            <form action="/cadastrar-pacientes" method="get">
                <div class="form-side">
                    <label>Nome:</label>
                    <input type="text" name="" id="nome" placeholder="Nome">
                    <label>Idade:</label>
                    <input type="text" name="" id="idade" placeholder="Idade">
                    <label>Área:</label>
                    <input type="text" name="" id="area" placeholder="Área de consulta">
                    <label>CPF:</label>
                    <input type="text" name="" id="cpf" placeholder="CPF">
                    <label>Data da Consulta:</label>
                    <input type="date" name="" id="data">
                </div>
                <div class="form-side">
                    <label>Convênio:</label>
                    <input type="text" name="" id="conv" placeholder="Convênio">
                    <label>Endereço:</label>
                    <input type="text" name="" id="endereco" placeholder="Endereço">
                    <label>Número:</label>
                    <input type="text" name="" id="numero" placeholder="Número">
                    <label>Bairro:</label>
                    <input type="text" name="" id="bairro" placeholder="Bairro">
                    <label>PCD:</label>
                    <input type="checkbox" name="" id="">
                </div>
                <input type="submit" id="sub-btn" value="enviar">
            </form>
        </main>

    <%- include('footer.ejs')%>
</body>
<script src="../libs/jquery-3.6.1.min.js"></script>
<script src=" https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script>
    let submit = document.getElementById("sub-btn")

    submit.addEventListener("click", function(){
        $.ajax({
        method:"GET",
        url:"/cadastrar-pacientes",
        data:{
            nome: document.getElementById("nome").value,
            idade: document.getElementById("idade").value,
            area: document.getElementById("area").value,
            cpf: document.getElementById("cpf").value,
            data: document.getElementById("data").value,
            convenio: document.getElementById("conv").value,
            endereco: document.getElementById("endereco").value,
            numero: document.getElementById("numero").value,
            bairro: document.getElementById("bairro").value,
            pcd: document.getElementById("pcd").value,
        }
        }).done((res)=>{
            alert(res)
        })
    })
</script>
</html>