<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Para hoje</title>
</head>
    <%-include("./style/base.ejs") %>
    <%-include("./style/today-style.ejs") %>
<body>
    <%-include("header.ejs") %>
    <main>
        <div class="quadro-pacientes">
            <h1>Buscar Pacientes</h1>
            <div class="busca-box">
                <input type="text" name="" id="nome-cpf" placeholder="Nome ou cpf">
                <select name="opcao" id="opcao">
                    <option value="cpf">CPF</option>
                    <option value="nome">Nome</option>
                </select>
                <input type="button" value="Buscar" id="bus-btn" onclick="show()">
            </div>
            <table class="tabela-paciente" id="tabela-paciente">
                <tr>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Área</th>
                    <th>CPF</th>
                    <th>Data de Consulta</th>
                    <th>Encerrar</th>
                </tr>
                <tr id="tr">
                    <td>Jamir</td>
                    <td>22</td>
                    <td>Psicólogo</td>
                    <td>000.000.000-00</td>
                    <td>30/03/2000</td>
                    <td>
                        <input type="button" value="Ver" id="enc-btn">
                    </td>
                </tr>
            </table>
        </div>
    </main>
    <%-include("footer.ejs") %>
</body>
<script src="../libs/jquery-3.6.1.min.js"></script>
<script src=" https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script>
    let busca = document.getElementById("bus-btn")
    let tabela = document.getElementById('tabela-paciente')
    let cpf = document.getElementById('nome-cpf')

    busca.addEventListener("click", function(){
        $.ajax({
            method:"GET",
            url:"/consultar-pacientes",
            data:{
                cpf:cpf.value
            }
        }).done((res)=>{
            for(let i = 0; i < res.length; i++){
                tabela.innerHTML += `
                    <tr id="tr">
                        <td>${res[i].nome}</td>
                        <td>${res[i].idade}</td>
                        <td>${res[i].area}</td>
                        <td>${res[i].cpf}</td>
                        <td>${res[i].data_consulta}</td>
                        <td>
                            <input type="button" value="Ver" id="enc-btn">
                        </td>
                    </tr>
                `
            }
        })
    })
</script>
</html>